.bg-1{
    -fx-background-color: #EEEEEE;
}
.bg-2{
    -fx-background-color: #FFF;
}

.txt-1{
    -fx-text-fill: #3e3e40;
}

.txt-2{
    -fx-text-fill: #616161;
}

/* Choice Box  */
.cBox > .label{
    -fx-background-color: #FFF;
    -fx-text-fill: #141517;
}

/* Background color of the whole context menu */
.cBox .context-menu{
    -fx-background-color: #EEEEEE;
}

/* Focused item background color in the list */
.cBox .menu-item:focused {
    -fx-background-color: #3d266b;
}

/* Text color of non-focused items in the list */
.choice-box .menu-item > .label{
    -fx-text-fill: #3e3e40;
}

/* Text color of focused item in the list */
.choice-box .menu-item:focused > .label{
    -fx-text-fill: #e9e8e8;
}

/* Pagination */
/* Default */
.pag > .pagination-control > .control-box > .number-button,
.pag > .pagination-control > .control-box > .bullet-button,
.pag > .pagination-control > .control-box > .left-arrow-button,
.pag > .pagination-control > .control-box > .right-arrow-button{
    -fx-text-fill: #3e3e40;
    -fx-background-color: #dadada;
}
/* Selected */
.pag > .pagination-control > .control-box > .number-button:selected,
.pag > .pagination-control > .control-box > .bullet-button:selected{
    -fx-background-insets: 0;
    -fx-background-color: #3d266b;
    -fx-text-fill: #e9e8e8;
}
/* Hover */
.pag > .pagination-control > .control-box > .number-button:hover,
.pag > .pagination-control > .control-box > .bullet-button:hover,
.pag > .pagination-control > .control-box > .left-arrow-button:hover,
.pag > .pagination-control > .control-box > .right-arrow-button:hover {
    -fx-background-insets: 0;
    -fx-text-fill: #3e3e40;
    -fx-background-color: #a7a7a7;
}
/* Pagination Information */
.pag > .pagination-control > .label{
    -fx-text-fill: #3e3e40;
}
